# Road2Work.id frontend environment
#
# Local backend:
# NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1
#
# Production backend:
# NEXT_PUBLIC_API_URL=https://api.road2work.id/api/v1

NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1

# true  = use frontend mock API
# false = call backend API from NEXT_PUBLIC_API_URL
NEXT_PUBLIC_USE_MOCK_API=false

# URL for the promotional video in Landing Page (leave empty to use default local video)
# Example: https://storage.com/video.mp4
NEXT_PUBLIC_PROMO_VIDEO_URL=
